body {
    height: 100vh;
}
main {
    height: 80vh;
    background-image: url("./images/background-image-clock-coins-in-jar.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    min-height: 12.5vh;
}

.navbar-toggler {
    display: none;
}


.buttonContainer {
    min-height: 150px;
}

.menuOptions {
    cursor: pointer;

}
.menuOptions:hover {
    background-color: rgba(71, 121, 30, 0.75); 
    color: white; 
    border-radius: 15px; 


}

footer {
    height: 8.5vh;
}
@media (max-width: 768px) {
    #navMainPageButtons .btn, #navMainMenu div{
        display: none;
    }

    .navbar-toggler {
        display: block;
    }
}